<?xml version="1.0" encoding="utf-8"?>
<!--
 ! Excerpted from "Hello, Android",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material,
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose.
 ! Visit http://www.pragmaticprogrammer.com/titles/eband3 for more book information.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.example.sudoku"
    android:versionCode="1"
    android:versionName="1.0" >

    //😊

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="10" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission
        android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10" />
    <application
        android:icon="@drawable/mods_arch2"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".Sudoku"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Waves"
            android:label="@string/about_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name=".Puzzles"
            android:label="@string/about_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".Prefs"
            android:label="@string/settings_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".Physics"
            android:label="@string/settings_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity
            android:name=".InformationActivity"
            android:label="About" >
        </activity>


        <activity android:name=".GreenTandSixTriangles"
            android:label="@string/settings_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".GreenT"
            android:label="@string/settings_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".GreenTFirstHint"
            android:label="@string/settings_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".Technology"
            android:label="@string/settings_title"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>


    </application>

</manifest>
